<a href="https://colab.research.google.com/github/amd020398/artificial-brains/blob/development/Recommender_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# foodexp = pd.read_csv("/content/drive/MyDrive/BWAI Challenge 3 Dataset/foodexp.csv")
# foodfridge = pd.read_csv("/content/drive/MyDrive/BWAI Challenge 3 Dataset/foodfridge.csv")
# foodshelf = pd.read_csv("/content/drive/MyDrive/BWAI Challenge 3 Dataset/foodshelf.csv")
# foodsimple = pd.read_csv("/content/drive/MyDrive/BWAI Challenge 3 Dataset/foodsimple.csv")

# combined_food_df = pd.concat([foodexp, foodfridge, foodshelf,
#                                            foodsimple]).drop_duplicates()

In [ ]:
food_consumed = pd.read_csv("/content/drive/MyDrive/BWAI Challenge 3 Dataset/orderItemsRequests.csv")

In [ ]:
food_consumed.head()

   OrderId  OrderItemId ProductType  ... ProductPeriod ProductDetails ProductStorage
0    50050            1       DIARY  ...           NaN  Do not freeze         FROZEN
1    50050            2  SHELF_ITEM  ...     18 months       unopened          SHELF
2    50050            3      BAKERY  ...      8 months            NaN         FROZEN
3    50050            4  SHELF_ITEM  ...    2-4 months       unopened          SHELF
4    50050            5      BAKERY  ...        1 week              G   REFRIGERATED

[5 rows x 7 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
food_consumed["OrderId"].value_counts()

50053    314
50059    311
50061    302
50054    301
50056    299
50051    298
50057    293
50050    292
50060    284
50055    280
50052    278
50058    274
50062    274
50063    249
50064    217
50066    200
50065    198
50068    169
50067    161
50069    130
50070    120
50071    106
50073     95
50074     90
50072     86
50075     59
50076     46
50077     18
Name: OrderId, dtype: int64

In [ ]:
food_consumed["ProductType"].value_counts()

SHELF_ITEM           1469
VEGETABLES            651
BAKERY                569
DIARY                 483
FRUIT                 358
FROZEN_ITEM           348
DELI_ITEM             261
BAKING                235
PROCESSED_MEAT        206
CONDIMENTS            197
SHELLFISH             162
PROCESSED_POULTRY     142
SOY                   129
FISH                  127
FRESH_POULTRY          76
DOUGH                  69
FRESH_MEAT             67
SMOKEDFISH             53
COOKIES                35
CRACKERS               34
PESTO                  30
PASTA                  23
BEVERAGES              20
Name: ProductType, dtype: int64

In [ ]:
food_consumed["OrderItemId"].value_counts()

4     392
7     392
3     392
8     392
10    392
6     392
2     392
11    392
9     392
5     392
1     392
12    347
13    301
14    252
15    216
16    159
17    104
18     53
Name: OrderItemId, dtype: int64

In [ ]:
food_consumed["ProductItem"].value_counts()

Pudding                 51
Grapes                  38
Citrus Fruit            36
Cakes, fruit cake       35
Apples                  35
                        ..
Sugar, confectioners     7
Ice cream                7
Berries, cherries        7
Sugar, brown             6
Pies, cream              3
Name: ProductItem, Length: 300, dtype: int64

In [ ]:
food_consumed["ProductDetails"].value_counts()

opened                          1155
unopened                        1019
Do not freeze                    283
fresh                             16
Do not defrost. Cook frozen.      16
Shredded                          13
Cooked                            13
G                                 13
skin will blacken                 12
After baking                      10
Whole peeled                      10
popped                            10
Whole                              9
Use entire can                     9
Sliced, lemon juice & sugar        8
Cool, dark place                   7
Cooked and mashed                  7
Mix entire packet                  7
Balls                              5
Use all                            4
vacuum pkg                         4
Name: ProductDetails, dtype: int64

In [ ]:
food_consumed["ProductItem"].value_counts()

Pudding                 51
Grapes                  38
Citrus Fruit            36
Cakes, fruit cake       35
Apples                  35
                        ..
Sugar, confectioners     7
Ice cream                7
Berries, cherries        7
Sugar, brown             6
Pies, cream              3
Name: ProductItem, Length: 300, dtype: int64

In [ ]:
food_consumed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5744 entries, 0 to 5743
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderId         5744 non-null   int64
 1   OrderItemId     5744 non-null   int64
 2   ProductType     5744 non-null   object
 3   ProductItem     5744 non-null   object
 4   ProductPeriod   5425 non-null   object
 5   ProductDetails  2630 non-null   object
 6   ProductStorage  5744 non-null   object
dtypes: int64(2), object(5)
memory usage: 314.2+ KB

In [ ]:
food_consumed.dtypes

OrderId            int64
OrderItemId        int64
ProductType       object
ProductItem       object
ProductPeriod     object
ProductDetails    object
ProductStorage    object
dtype: object

In [ ]:
df = food_consumed[(food_consumed['OrderItemId'] == 4)]
df

      OrderId  OrderItemId  ... ProductDetails ProductStorage
3       50050            4  ...       unopened          SHELF
17      50051            4  ...            NaN          SHELF
33      50052            4  ...            NaN   REFRIGERATED
47      50053            4  ...            NaN   REFRIGERATED
62      50054            4  ...       unopened          SHELF
...       ...          ...  ...            ...            ...
5675    50064            4  ...  Do not freeze         FROZEN
5690    50065            4  ...            NaN         FROZEN
5704    50066            4  ...            NaN   REFRIGERATED
5721    50067            4  ...            NaN         FROZEN
5734    50068            4  ...            NaN   REFRIGERATED

[392 rows x 7 columns]

In [ ]:
# order id , product item, product type, product fequency 
# save all the unique rows of product item 
# food_consumed["ProductItem"].unique()

In [ ]:
food_consumed_ = food_consumed.drop(columns=["OrderItemId","ProductPeriod","ProductDetails","ProductStorage"])

In [ ]:
food_consumed_['product fequency'] = food_consumed_['ProductItem'].map(food_consumed_['ProductItem'].value_counts())
food_consumed_

      OrderId  ... product fequency
0       50050  ...               18
1       50050  ...               21
2       50050  ...               24
3       50050  ...               19
4       50050  ...               32
...       ...  ...              ...
5739    50068  ...               14
5740    50068  ...               19
5741    50068  ...               30
5742    50068  ...               18
5743    50068  ...               21

[5744 rows x 4 columns]

In [ ]:
# filt = {1:range(0,5), 2:range(6,10), 3:range(11,15), 4:range(16,20), 5:range(21,25), 6:range(26,30), 7:range(31,35), 8:range(36,40), 9:range(41,45), 10:range(46,52)}
# food_consumed_['score'] = food_consumed_['product fequency'].map(filt)

In [ ]:

# 1:range(0,5), 2:range(6,10), 3:range(11,15), 4:range(16,20), 5:range(21,25), 6:range(26,30), 7:range(31,35), 8:range(36,40), 9:range(41,45), 10:range(46,52)
criteria = [food_consumed_['product fequency'].between(0,5), 
            food_consumed_['product fequency'].between(6,10), 
            food_consumed_['product fequency'].between(11,15),
            food_consumed_['product fequency'].between(16,20),
            food_consumed_['product fequency'].between(21,25),
            food_consumed_['product fequency'].between(26,30),
            food_consumed_['product fequency'].between(31,35),
            food_consumed_['product fequency'].between(36,40),
            food_consumed_['product fequency'].between(41,45),
            food_consumed_['product fequency'].between(46,52)
            ]
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

food_consumed_['score'] = np.select(criteria, values, 0)

In [ ]:
food_consumed_

      OrderId        ProductType  ... product fequency  score
0       50050              DIARY  ...               18      4
1       50050         SHELF_ITEM  ...               21      5
2       50050             BAKERY  ...               24      5
3       50050         SHELF_ITEM  ...               19      4
4       50050             BAKERY  ...               32      7
...       ...                ...  ...              ...    ...
5739    50068             BAKING  ...               14      3
5740    50068         VEGETABLES  ...               19      4
5741    50068  PROCESSED_POULTRY  ...               30      6
5742    50068                SOY  ...               18      4
5743    50068     PROCESSED_MEAT  ...               21      5

[5744 rows x 5 columns]

In [ ]:
df = food_consumed_[(food_consumed_['score'] == 5)]
df.tail()

      OrderId     ProductType              ProductItem  product fequency  score
5719    50067      VEGETABLES              Ginger Root                25      5
5720    50067          BAKERY              Pies, pecan                25      5
5736    50068      VEGETABLES           Squash, summer                23      5
5738    50068      VEGETABLES                   Celery                21      5
5743    50068  PROCESSED_MEAT  Sausage, raw, bulk type                21      5

In [ ]:
# food_consumed_.set_index('OrderId', inplace = True)

In [ ]:
df_final = food_consumed_.drop(columns="product fequency")
df_final

      OrderId        ProductType                            ProductItem  score
0       50050              DIARY                         Eggs, in shell      4
1       50050         SHELF_ITEM                              Tea, bags      5
2       50050             BAKERY                        Pies, mincemeat      5
3       50050         SHELF_ITEM        Marshmallows, marshmallow creme      4
4       50050             BAKERY              Doughnuts, glazed or cake      7
...       ...                ...                                    ...    ...
5739    50068             BAKING                     Flour, whole wheat      3
5740    50068         VEGETABLES                            Cauliflower      4
5741    50068  PROCESSED_POULTRY             Lunch meats, after opening      6
5742    50068                SOY  Soy or rice beverage, Re-hydrated TSP      4
5743    50068     PROCESSED_MEAT                Sausage, raw, bulk type      5

[5744 rows x 4 columns]

In [ ]:
# !pip3 install plotly 
# !pip3 install surprise

In [ ]:
from surprise import Dataset,Reader

reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(df_final[['OrderId', 'ProductItem', 'score']], reader)

In [ ]:
# Split data to train and test
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25,random_state=123)

In [ ]:
trainset.all_ratings()

In [ ]:
# However the ids are the inner ids and not the raw ids
# raw ids can be obatined as follows

print(trainset.to_raw_uid(0))
# print(trainset.to_raw_uid(1066))

50067

In [ ]:
from surprise import SVD, KNNWithMeans
from surprise import accuracy

In [ ]:
svd_model = SVD(n_factors=5,biased=False)
svd_model.fit(trainset)

In [ ]:
testset[0]

(50062, 'Tempeh', 4.0)

In [ ]:
test_pred = svd_model.test(testset)
# test_pred

In [ ]:
# compute RMSE
accuracy.rmse(test_pred)

RMSE: 0.0566

0.056640291162598506