In [1]:
import pandas as pd

In [7]:
data_exp = pd.read_csv('foodexp.csv')
data_fridge = pd.read_csv('foodfridge.csv')
data_shelf = pd.read_csv('foodshelf.csv')
data_simple = pd.read_csv('foodsimple.csv')

In [11]:
data = data_exp.append(data_fridge)
data = data.append(data_shelf)
data = data.append(data_simple)
data

,TYPE,ITEM,PERIOD,DETAILS,STORAGE
0,BEVERAGES,"Juice in cartons, fruit drinks, punch",3 weeks,unopened,REFRIGERATED
1,BEVERAGES,"Juice in cartons, fruit drinks, punch",7-10 days,opened,REFRIGERATED
2,BEVERAGES,"Juice in cartons, fruit drinks, punch",8-12 months,NaN,FROZEN
3,DIARY,Butter,1-3 months,NaN,REFRIGERATED
4,DIARY,Butter,6-9 months,NaN,FROZEN
...,...,...,...,...,...
7,FRUIT,Apples,1-2 days,NaN,SHELF
8,FRUIT,Bananas,Until ripe,NaN,SHELF
9,VEGETABLES,Tomatoes,Until ripe,NaN,SHELF
10,SHELF_ITEM,"Rice, white or wild",2 years,unopened,SHELF
11,BAKERY,"Bread, commercial*",2-4 days,NaN,SHELF

In [12]:
data['STORAGE'].unique()

array(['REFRIGERATED', 'FROZEN', 'SHELF', 'THAWED'], dtype=object)

In [13]:
data['TYPE'].unique()

array(['BEVERAGES', 'DIARY', 'DOUGH', 'PASTA', 'PESTO', 'SOY', 'FISH',
       'SHELLFISH', 'SMOKEDFISH', 'FRESH_MEAT', 'PROCESSED_MEAT',
       'FRESH_POULTRY', 'PROCESSED_POULTRY', 'FRUIT', 'VEGETABLES',
       'FROZEN_ITEM', 'DELI_ITEM', 'SHELF_ITEM', 'BAKING', 'CONDIMENTS',
       'COOKIES', 'CRACKERS', 'BAKERY'], dtype=object)

In [14]:
# Type - Selection 
# Storage - Selection
# Item - Selection
# Period - Integer  & Selection(Period)
# Details - Char
# Quantity - Integer 

# Search but

login page

user id
password
# selection - Donor, Consumer.

Sign in 

phpmyadmin
Mysql workbench 

homepage 
donor & consumer

SyntaxError: invalid syntax (<ipython-input-14-c77cfc187c0c>, line 8)

In [15]:
data.to_csv('data_combined.csv')

In [23]:
df = data[(data['ITEM'] == 'Bananas')]

In [24]:
df

      TYPE     ITEM      PERIOD            DETAILS       STORAGE
185  FRUIT  Bananas  Until ripe                NaN         SHELF
186  FRUIT  Bananas      2 days  skin will blacken  REFRIGERATED
187  FRUIT  Bananas     1 month       Whole peeled        FROZEN
182  FRUIT  Bananas      2 days  skin will blacken  REFRIGERATED
183  FRUIT  Bananas     1 month       Whole peeled        FROZEN
3    FRUIT  Bananas  Until ripe                NaN         SHELF
8    FRUIT  Bananas  Until ripe                NaN         SHELF

In [ ]:
# Dashboard
# data of past 90 , less than 80 days - waste. 
string = "The data is messy"
veg = []